{% extends 'home.html' %}
{% block content %}
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Enter username" id="username" name='username'>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name='pass'>

        <button type='submit'>Log In</button>
        <div class="social">
            Don't have an account <div> <a href="{% url 'signuppage' %}">Create One</a></div>
            
          {% comment %} <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div> {% endcomment %}
        </div>
    </form>
</body>
{% endblock content %}