{% extends 'home.html' %}
{% block content %}
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <h3>SignUp Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="username" id="username" name='username'>

        <label for="email">Email</label>
        <input type="email" placeholder="Email " id="email" name='email'>

        <label for="password">Password</label>
        <input type="password" placeholder="password" id="password" name='pass1'>

        <label for="password">Confirm Password</label>
        <input type="password" placeholder="Password" id="password" name='pass2'>

        <button type='submit'>Signup</button>
        <div class="social">
            Already have an account <div>
                <a href="{% url 'loginpage' %}">Login here</a>
            </div>
          {% comment %} <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div> {% endcomment %}
        </div>
    </form>
</body>
{% endblock content %}